* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #eee;
}

.tabs {
    width: 75%;
    padding: 20px;
    margin: 0 auto;
}

.nav {
    list-style: none;
}

.nav li {
    display: inline-block;
}

.nav a {
    padding: 5px 20px;
    background-color: #636363;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #8d8d8d;
    transition: 0.1s;
}

a.selected,
a.selected:hover {
    background: #ddd;
    color: #101010;
    padding-top: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

a:hover {
    background: #ccc;
    color: #000;
    transition: 0.1s;
}

.tabs div {
    background: #ddd;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
